<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_document</title>
</head>
<body>
    <h1>rendering......!!</h1>
    <h2>changes in branch2</h2>
    <h2>Insert Data</h2>
    <h2>all is well</h2>
    <center>
        
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <table border="1">
                <tr>
                    <th>first_name</th>
                <td><input type="text" name="f_name" id=""></td>
                </tr>
                <tr>
                    <th>last_name</th>
                <td><input type="text" name="l_name" id=""></td>
                </tr>
                <tr>
                    <th>email_id</th>
                <td><input type="text" name="email" id=""></td>
                </tr>
                <tr>
                    <th>emp_password</th>
                <td><input type="text" name="psd" id=""></td>
                </tr>
                <tr>
                    
                <td><input type="submit" value="insert"</td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>